.vscode
.VSCodeCounter
/main
/frontend/main
/middleend/main
/backend/main
/ir_backend/main
/main.exe
/build
/log
/frontend/log
/middleend/log
/backend/log
/ir_backend/log
/releases
/trees/*
!/trees/example.txt
/tex/*
*.code-workspace
/*/build
/Programs/*/*.o
/Programs/*/prog
/Programs/*/lstprog
/compile_commands.json
/.cache
